/* CSS based in SuperfluousBanter.org site */
/* $id$ */

/* Layout */
html, body {
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  font-family: "trebuchet ms", verdana, helvetica, sans-serif;
  font-size: 12px;
}

#header {
  border-top: 13px solid #95bbae;
  background: #fff;
  color: #000;
  height: 1px; /* Holly hack */
}

html>body #header {
  height: auto;
}

#logo {
  margin: 0;
}

#subHeader {
  height: 5.8em;
}

#headerInformation {
  position: absolute;
  top: 2ex;
  right: 2ex;
}

.menuBar {
  border-top: 1px solid #e0ede9;
  border-bottom: 1px solid #e0ede9;
  background: #eef4f1;
  padding: 0 0 0 10px;
  margin: 0;
  clear: both;
  height: 0; /* IE 5.0 paranoid */
}

#tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
}

#tabs li {
  float: left;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  padding: 5px 0 4px 0;
}

li#first a, li#first span {
  border-left: 1px dashed #d1e3db;
}

#tabs span {
  color: #95bbae;
  background: #deebe5;
  padding: 5px 4px 4px 4px;
}

#sourceForgeLinks {
  clear: both;
  text-align: right;
  background: #eef4f1;
  color: #0ff;
  padding: 4px 2ex 4px 0;
  margin: 6px 0 0 0;
  border-bottom: 1px solid #e0ede9;
}

#sourceForgeLinks li {
  display: inline;
  list-style-type: none;
}

#sideBar {
  border-style: solid;
  border-color: #efefef;
  border-width: 0 1px 5px 1px;
  background: #f8f8f8;
  color: #bbb;
  padding-bottom: 8px;
  margin: 0 0 -6px 0;
  font-family: helvetica, arial, sans-serif;
  width: 150px;
  float: left;
}

.linkList {
  font-size: 11px;
  list-style: none;
  line-height: 13px;
  margin: 0 8px 14px 11px;
  padding: 0;
}

.linkList li {
  padding-left: 13px;
  margin-bottom: 2px;
}

.linkList a, .linkList a:hover, .linkList .selected {
  line-height: 1.25em;
  display: block;
  margin-bottom: 2ex;
}

.sideBarLogin {
  margin: 10px;
}

#mainZone {
  line-height: 1.5em;
  margin-left: 150px;
  padding: 1ex 1em 1ex 2em; /* top right bottom left */
}

#footer {
  border-top: 1px solid #efefef;
  padding: 1ex 8px;
  margin-left: 150px;
  clear: right;
  text-align: center;
}

#footerLinks {
  margin: 0;
  padding: 0;
}

#footerLinks li {
  list-style-type: none;
  display: inline;
  padding: 0 4px;
}

/* Tables */
.center table {
  margin: 0 auto;
  text-align: left;
}

table {
  border-collapse: collapse;
  border: 1px solid #efefef;
  padding: 2px;
}

* html body table {
  width: auto;
}

th {
  background: #eff7f7;
  color: #94baa5;
  text-align: center;
}

td {
  padding: 2px;
  border: 1px solid #efefef;
  font-size: 12px;
}

/* Links */
#sideBar a, #sideBar a:link {
  color: #000;
}

.linkList a, .linkList .subnavbar a {
  background: url(../images/bullet_normal_grey.gif) no-repeat 0 2px;
  padding: 0 2px 0 2.5ex;
}

.linkList .selected {
  background: url(../images/bullet_selected_grey.gif) no-repeat 1px 2px;
  padding-left: 2.5ex;
}

.linkList .subnavbar {
  margin-left: 2ex;
}

.sideBarLogin a {
  display: inline;
}

#tabs a, #tabs a:link, #sourceForgeLinks a, #sourceForgeLinks a:link {
  color: #95bbae;
  background: transparent;
  margin: 0;
  padding: 5px 9px 4px 9px;
  border-right: 1px dashed #d1e3db;
  text-decoration: none;
}

#tabs a:hover {
  color: #74a893;
  background: #d1e3db;
}

#sourceForgeLinks a:hover {
  text-decoration: underline;
}

#mainZone a, #mainZone a:link, #mainZone a:visited,
#footer a, #footer a:link, #footer a:visited {
  background: inherit;
  color: #52b2ad;
}

/* Form styles */
input, textarea, select {
  font-family: verdana, sans-serif;
  font-size: 12px;
  border-width: 1px;
  border-color: #000;
  background: #fff;
  color: #000;
}

input:focus, textarea:focus, select:focus {
  background: #fffbff;
  color: #000;
}

input[type="submit"], input[type="button"], input[type="reset"] {
  border-width: 1px;
  font-weight: bold;
  background: #eff7f7;
}

input[type="radio"], input[type="checkbox"] {
  background: #000;
  color: inherit;
}

/* Miscellaneous */
#headerInformation p {
  margin: 0;
}

#sideBarLogo p {
  margin-bottom: 2ex;
  text-align: center;
}

#logo img {
  border-bottom: 1px solid #95bbae;
}

#mainZone h1 img, #mainZone h2 img, #mainZone h3 img, #mainZone h4 img, #mainZone h5 img {
  vertical-align: middle;
}

#mainZone h1, #mainZone h2, #mainZone h3, #mainZone h4, #mainZone h5 {
  background: inherit;
  color: #b5bab5;
}

.error {
  background: #fff;
  color: #9c0000;
  font-weight: bold;
}

.advice {
}

.message {
  font-weight: bold;
}

.even {
  background: #fffbff;
  color: #000;
}

img {
  border: none;
}

.sqlcode {
  font-family: "Courier New", Courier, monospace;
  font-size: 11px;
  white-space: pre;
  text-align: left;
}

.noWrap {
  white-space: nowrap;
}

label {
  cursor: pointer;
  background: inherit;
  color: #bdba8c;
}

#sideBar hr {
  background: #efefef;
  color: #efefef;
  border: 2px solid #efefef;
}

hr {
  background: #b5bab5;
  color: #b5bab5;
  border: 1px solid #b5bab5;
  margin: 10px 0; /* top-bottom right-left */
}

.requiredField {
  font-weight: bold;
}

.noPrint {
  display: none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}
