/* CSS based in SuperfluousBanter.org site */
/* $Id: banter.css,v 1.12 2006/10/13 19:59:24 jact Exp $ */

/* Layout */
html, body {
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  font-family: "trebuchet ms", verdana, helvetica, sans-serif;
  font-size: 12px;
}

#header {
  border-top: 13px solid #95bbae;
  background: #fff;
  color: #000;
  height: 1px; /* Holly hack */
}

html>body #header {
  height: auto;
}

#logo {
  margin: 0;
}

#subHeader {
  height: 5.8em;
}

#headerInformation {
  position: absolute;
  top: 2ex;
  right: 2ex;
}

.menuBar {
  border-top: 1px solid #e0ede9;
  border-bottom: 1px solid #e0ede9;
  background: #eef4f1;
  padding: 0 0 0 10px;
  margin: 0;
  clear: both;
  height: 0; /* IE 5.0 paranoid */
}

#tabs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
}

#tabs li {
  float: left;
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  margin: 0;
  padding: 5px 0 4px 0;
}

li#first a, li#first span {
  border-left: 1px dashed #d1e3db;
}

#tabs span {
  color: #95bbae;
  background: #deebe5;
  padding: 5px 4px 4px 4px;
}

#sourceForgeLinks {
  clear: both;
  text-align: right;
  background: #eef4f1;
  color: #0ff;
  padding: 4px 2ex 4px 0;
  margin: 6px 0 0 0;
  border-bottom: 1px solid #e0ede9;
}

#sourceForgeLinks li {
  display: inline;
  list-style-type: none;
}

#sideBar {
  border-style: solid;
  border-color: #efefef;
  border-width: 0 1px 5px 1px;
  background: #f8f8f8;
  color: #bbb;
  padding-bottom: 8px;
  margin: 0 0 -6px 0;
  font-family: helvetica, arial, sans-serif;
  width: 150px;
  float: left;
}

.linkList {
  font-size: 11px;
  line-height: 13px;
  margin: 0 8px 14px 30px;
  padding: 0;
}

.linkList li {
  line-height: 1.25em;
  margin-bottom: 14px;
  list-style-image: url(../img/bullet_normal_grey.gif);
  padding: 0 2px 0 0;
}

.linkList .selected {
  list-style-image: url(../img/bullet_selected_grey.gif);
}

.linkList .subnavbar {
  margin: 2.5ex 0 0 -2ex;
}

* html .linkList .subnavbar {
  margin-left: 2ex;
}

.sideBarLogin {
  margin: 10px;
}

#mainZone {
  line-height: 1.5em;
  margin-left: 150px;
  padding: 1ex 1em 1ex 2em; /* top right bottom left */
}

#footer {
  border-top: 1px solid #efefef;
  padding: 1ex 8px;
  margin-left: 150px;
  clear: right;
  text-align: center;
}

#footerLinks {
  margin: 0;
  padding: 0;
}

#footerLinks li {
  list-style-type: none;
  display: inline;
  padding: 0 4px;
}

/* Tables */
.center table {
  margin: 0 auto;
  text-align: left;
}

table {
  border-collapse: collapse;
  border: 1px solid #efefef;
  padding: 2px;
}

* html body table {
  width: auto;
}

th {
  background: #eff7f7;
  color: #94baa5;
  text-align: center;
}

td {
  padding: 2px;
  border: 1px solid #efefef;
  font-size: 12px;
}

/* Links */
#sideBar a, #sideBar a:link {
  color: #000;
}

.sideBarLogin a {
  display: inline;
}

#tabs a, #tabs a:link, #sourceForgeLinks a, #sourceForgeLinks a:link {
  color: #95bbae;
  background: transparent;
  margin: 0;
  padding: 5px 9px 4px 9px;
  border-right: 1px dashed #d1e3db;
  text-decoration: none;
}

#tabs a:hover {
  color: #74a893;
  background: #d1e3db;
}

#sourceForgeLinks a:hover {
  text-decoration: underline;
}

#mainZone a, #mainZone a:link, #mainZone a:visited,
#footer a, #footer a:link, #footer a:visited {
  color: #52b2ad;
}

/* Form styles */
fieldset {
  border: 5px double #E0EDE9;
  border-right: none;
  border-left: none;
  margin: 8px auto;
  padding: 5px;
}

fieldset p {
  margin: 12px 0px;
}

fieldset .formButton {
  margin: 16px 0;
  text-align: center;
}

fieldset span.error {
  display: block;
  margin: 2px 0 16px;
  border-bottom: 1px solid #9c0000;
}

legend {
  border: 3px solid #E0EDE9;
  border-top: none;
  border-bottom: none;
  padding: 0 5px;
  font-weight: bold;
}

fieldset label {
  display: block;
  width: 40%;
  float: left;
  text-align: right;
  padding-right: 5px;
  cursor: pointer;
}

fieldset.largeArea label {
  width: 25%;
}

input, textarea, select {
  font-family: verdana, sans-serif;
  font-size: 12px;
  border-width: 1px;
  border-color: #000;
  background: #fff;
  color: #000;
}

input:focus, textarea:focus, select:focus {
  background: #000;
  color: #fffbff;
}

input[type="submit"], input[type="button"], input[type="reset"] {
  border-width: 1px;
  font-weight: bold;
  background: #eff7f7;
  margin: 2px 10px;
}

input[type="submit"], .formButton input:first-child {
  padding: 4px;
}

input[type="radio"], input[type="checkbox"] {
  background: #000;
  color: inherit;
}

input.error, textarea.error, select.error {
  border: 3px solid #9c0000;
}

/* Miscellaneous */
#headerInformation p {
  margin: 0;
}

#sideBarLogo p {
  margin-bottom: 2ex;
  text-align: center;
}

#logo img {
  border-bottom: 1px solid #95bbae;
}

#mainZone h1, #mainZone h2, #mainZone h3, #mainZone h4, #mainZone h5 {
  color: #b5bab5;
}

.error {
  background: #fff;
  color: #9c0000;
  font-weight: bold;
}

.advice {
}

.message {
  font-weight: bold;
}

.even {
  background: #fffbff;
  color: #000;
}

img {
  border: none;
}

.sqlcode {
  font-family: "Courier New", Courier, monospace;
  font-size: 11px;
  white-space: pre;
  text-align: left;
}

.noWrap {
  white-space: nowrap;
}

label {
  cursor: pointer;
  background: inherit;
  color: #bdba8c;
}

hr, #skipLink {
  display: none;
}

#sideBar hr {
  display: block;
  background: #efefef;
  color: #efefef;
  border: 2px solid #efefef;
}

#mainZone hr {
  display: block;
  background: #b5bab5;
  color: #b5bab5;
  border: 1px solid #b5bab5;
  margin: 10px 0; /* top-bottom right-left */
}

.requiredField {
  font-weight: bold;
}

.noPrint {
  display: none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

#breadCrumb {
  margin-bottom: 0;
}

.icon {
  margin-top: 5px;
  padding: 10px 0 10px 45px;
  background-position: center left;
}

.bigIcon {
  margin-top: 5px;
  padding: 20px 0 20px 65px;
  background-position: center left;
}

.dumpIcon {
  background: url(../img/dumps.png) no-repeat;
}

.logIcon {
  background: url(../img/logs.png) no-repeat;
}

.configIcon {
  background: url(../img/config_clinic.png) no-repeat;
}

.staffIcon {
  background: url(../img/staff.png) no-repeat;
}

.themeIcon {
  background: url(../img/themes.png) no-repeat;
}

.userIcon {
  background: url(../img/users.png) no-repeat;
}

.patientIcon {
  background: url(../img/patient.png) no-repeat;
}

.searchIcon {
  background: url(../img/search.png) no-repeat;
}

.medicalIcon {
  background: url(../img/medical.png) no-repeat;
}

.adminIcon {
  background: url(../img/admin.png) no-repeat;
}

/* clearfix */
.clearfix {
  display: inline-block;
  width: 100%;
}

/* Hide from IE-mac \*/
* html .clearfix {
  height: 1%;
  width: auto;
}

.clearfix {
  display: table;
}
/* End hide from IE-mac */

/* patientHeader, problemHeader */
#patientHeader, #problemHeader {
  background: #eff7f7;
  color: #94baa5;
  font-weight: bold;
  border: 1px solid #efefef;
}

#problemHeader {
  border-top: none;
}

#patientHeader p, #problemHeader p {
  float: left;
  width: 38%;
  margin: 0;
  padding: 2px 5px;
}

#problemHeader p {
  width: 30%;
}

#patientHeader p.right {
  float: right;
  width: 18%;
}

#problemHeader p.right {
  float: right;
  width: 32%;
}
