/* CSS based in Gazetteer Alternate (haran's design in oswd.org) */
/* $Id: gazetteer_alt.css,v 1.9 2005/08/16 15:24:46 jact Exp $ */

html, body {
  background: #fff;
  color: #848484;
  margin: 0;
  padding: 0;
}

body {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 71%;
}

.noPrint {
  display: none;
}

img {
  border: none;
}

#logo {
  margin: 0;
}

#logo a {
  color: #afafaf;
  background: transparent;
  font-family: garamond, "times new roman", times, roman, serif;
  font-size: 250%;
  margin: 0;
  padding: 1ex 0 0 0;
}

#headerInformation {
  position: absolute;
  top: 8px;
  right: 18px;
  border: 1px dotted #848484;
  padding: 3px;
}

#headerInformation p {
  margin: 0;
}

#tabs {
  list-style-type: none;
  list-style-position: outside;
  margin: 18px 18px 0 0;
  padding: 0;
  text-align: right;
}

#tabs li {
  line-height: 1.75em;
  margin: 0;
  padding: 0;
  display: inline;
}

#tabs li a, #tabs li span {
  color: #afafaf;
  background: #f8f8f8;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0.5ex 1.25em 1ex 1.25em;
  border-top: 1px solid #e7e7e7;
  border-right: 1px solid #616161;
  border-left: 1px solid #e7e7e7;
}

#tabs li a:hover {
  color: #dc143c;
  background: #f8f8f8;
  text-decoration: none;
  padding-bottom: 0.8ex;
  border-top: 1px solid #616161;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #616161;
  position: relative;
  left: 1px;
  top: 1px;
}

#tabs li span {
  color: #fff;
  background: #dc143c;
  border-top-color: #dc143c;
  border-right-color: #dc143c;
  border-left-color: #dc143c;
}

#sourceForgeLinks {
  margin: 2px 0 0 0;
  background: #dc143c;
  color: #fff;
  padding: 5px;
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-size: 120%;
}

#sourceForgeLinks li {
  display: inline;
  list-style-type: none;
  padding-right: 8px;
}

#sourceForgeLinks a {
  color: #fff;
  background: transparent;
}

#sideBar {
  margin: 1em 1em 1em 2em;
  padding: 0;
  border-bottom: 1px dotted #848484;
  width: 15.5em;
  float: right;
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
}

#sideBar hr {
  display: none;
}

.linkList {
  margin: 10px 0;
  padding: 0 0 0 15px;
  border-top: 1px dotted #848484;
  border-bottom: 1px dotted #848484;
}

.linkList li {
  list-style-type: disc;
  line-height: 2em;
}

.linkList .selected {
  list-style-type: circle;
}

.linkList a:hover, .sideBarLogin a:hover, #mainZone a, #mainZone a:visited {
  color: #dc143c;
  background: transparent;
}

#mainZone a:hover {
  color: #000;
  background: transparent;
}

#mainZone {
  margin: 1em 20em 0 2em;
  line-height: 180%;
}

#mainZone h1, #mainZone h2, #mainZone h3, #mainZone h4, #mainZone h5 {
  border-bottom: 1px dotted #848484;
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  margin: 0 0 0.75em 0;
}

#mainZone h1 img, #mainZone h2 img, #mainZone h3 img, #mainZone h4 img, #mainZone h5 img {
  vertical-align: middle;
}

#footer {
  color: #afafaf;
  background: #fafafa;
  margin: 0;
  padding: 0.25em 18px 1.25ex 15px;
  clear: both;
}

#footerLinks {
  margin: 0;
  padding: 0;
  text-align: center;
}

#footerLinks li {
  list-style-type: none;
  display: inline;
  padding: 0 4px;
}

#footer #footerLinks p {
  float: right;
  margin: 10px 0;
}

#footer a {
  color: #afafaf;
  background: transparent;
  text-decoration: underline;
}

#footer a:hover {
  color: #dc143c;
  background: transparent;
  text-decoration: none;
}

#footer br {
  display: none;
}

#footer p {
  float: left;
}

#footer p+p {
  float: right;
}

.center table {
  margin: 0 auto;
  text-align: left;
}

table {
  border-collapse: collapse;
  padding: 3px;
  border: 1px solid #848484;
}

* html body table {
  width: auto;
}

th {
  text-align: left;
  color: #fff;
  background: #848484;
}

td, th {
  padding: 3px;
  border: 1px solid #848484;
  font-size: 91%;
}

.even {
  background: #fafafa;
  color: inherit;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.sqlcode {
  font-family: "Courier New", Courier, monospace;
  font-size: 105%;
  white-space: pre;
  text-align: left;
}

.noWrap {
  white-space: nowrap;
}

/* Form styles */
input, textarea, select {
  border-width: 1px;
  border-color: #dce0d3;
  background: #000;
  color: #fff;
}

input:focus, textarea:focus, select:focus {
  background: #fff;
  color: #000;
}

input[type="submit"], input[type="button"], input[type="reset"] {
  border-width: 1px;
  font-weight: bold;
}

label {
  cursor: pointer;
}

.requiredField {
  font-weight: bold;
}

.error {
  color: #d2691e;
  background: transparent;
  font-weight: bold;
}

.message {
  background: #fafafa;
  color: #000;
  border: 1px solid #000;
  margin: 3px 4em 1em 0;
  padding: 3px;
  font-weight: bold;
}

.advice {
  font-weight: bold;
}

hr {
  background: #9C9A9C;
  color: #9C9A9C;
  border: 1px solid #9C9A9C;
  margin: 10px 0;
}

#breadCrumb {
  margin-bottom: 0;
}

.icon {
  margin-top: 5px;
  padding: 10px 0 10px 45px;
  background-position: center left;
}

.bigIcon {
  margin-top: 5px;
  padding: 20px 0 20px 65px;
  background-position: center left;
}

.dumpIcon {
  background: url(../images/dumps.png) no-repeat;
}

.logIcon {
  background: url(../images/logs.png) no-repeat;
}

.configIcon {
  background: url(../images/config_clinic.png) no-repeat;
}

.staffIcon {
  background: url(../images/staff.png) no-repeat;
}

.themeIcon {
  background: url(../images/themes.png) no-repeat;
}

.userIcon {
  background: url(../images/users.png) no-repeat;
}

.patientIcon {
  background: url(../images/patient.png) no-repeat;
}

.searchIcon {
  background: url(../images/search.png) no-repeat;
}

.medicalIcon {
  background: url(../images/medical.png) no-repeat;
}

.adminIcon {
  background: url(../images/admin.png) no-repeat;
}

/* clearfix */
.clearfix {
  display: inline-block;
  width: 100%;
}

/* Hide from IE-mac \*/
* html .clearfix {
  height: 1%;
  width: auto;
}

.clearfix {
  display: table;
}
/* End hide from IE-mac */

/* patientHeader, problemHeader */
#patientHeader, #problemHeader {
  background: #848484;
  color: #fff;
  font-weight: bold;
  border: 1px solid #848484;
}

#problemHeader {
  border-top: none;
}

#patientHeader p, #problemHeader p {
  float: left;
  width: 38%;
  margin: 0;
  padding: 2px 5px;
}

#problemHeader p {
  width: 30%;
}

#patientHeader p.right {
  float: right;
  width: 18%;
}

#problemHeader p.right {
  float: right;
  width: 32%;
}
