/* Feel free and change all what you want */
/* $Id: scheme.css,v 1.9 2005/08/15 16:34:40 jact Exp $ */

/* --Layout-- */
html, body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  font-family: verdana, sans-serif;
  font-size: 10px;
}

#header {
  background: #fff;
  color: #000;
  height: 1px; /* Holly hack */
}

html>body #header {
  height: auto;
}

#logo {
  margin: 0;
}

#subHeader {
  height: 5em;
}

#headerInformation {
  position: absolute;
  top: 0;
  right: 2ex;
}

#headerInformation p {
  margin: 0;
}

.menuBar {
  clear: both;
  margin-top: 12px;
  height: 0; /* IE 5.0 paranoid */
}

#tabs {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-weight: bold;
}

#tabs li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li#first a, li#first span {
  border-left: 1px solid #000;
}

#tabs a, #tabs span {
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  margin: 0;
  padding: 2px 10px;
  float: left;
  background: #efefef;
}

#tabs span {
  background: #fff;
  color: #000;
  border-bottom: 1px solid #fff;
}

#sourceForgeLinks {
  clear: both;
  text-align: right;
  background: #fff;
  color: #0ff;
  padding: 0 2ex 4px 0;
  margin: -1px 0 0 0;
  border: 1px solid #000;
}

#sourceForgeLinks li {
  display: inline;
  list-style-type: none;
  padding-left: 5px;
}

#sideBar {
  position: relative; /* IE hack */
  padding-left: 1ex;
  margin-top: -1px;
  width: 150px;
  float: left;
  clear: left;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  background: #fff;
  color: #000;
  font-size: 10px;
}

.linkList {
  margin: 0 0 0 4ex;
  padding: 0;
  position: relative; /* IE bug fixed */
}

.linkList li {
  list-style-image: url(../images/bullet_normal.gif);
  line-height: 1.25em;
  margin-bottom: 4ex;
}

.linkList .selected {
  list-style-image: url(../images/bullet_selected.gif);
}

.linkList .subnavbar {
  margin: 4ex 0 0 -2ex;
}

* html .linkList .subnavbar {
  margin-left: 3ex;
}

.sideBarLogin {
  margin-top: 0;
  margin-bottom: 3ex !important;
}

#mainZone {
  line-height: 1.5em;
  margin-left: 150px;
  padding: 1ex 1em 1ex 2em; /* top right bottom left */
}

#footer {
  padding: 1ex 4mm;
  margin-left: 150px;
  clear: right;
  text-align: center;
}

#footerLinks {
  margin: 0;
  padding: 0;
}

#footerLinks li {
  list-style-type: none;
  display: inline;
  padding: 0 4px;
}

/* --Tables-- */
.center table {
  margin: 0 auto;
  text-align: left;
}

table {
  border-collapse: collapse;
  padding: 2px;
  border: 1px solid #000;
}

th {
  text-align: center;
}

td {
  padding: 2px;
  border: 1px solid #000;
}

/* --Links-- */
.linkList a, .linkList .subnavbar a {
  padding: 0 2px 0 0;
}

.sideBarLogin a {
  display: inline;
}

#tabs a {
}

a:link, a:visited {
  color: #00f;
}

#sideBar a:link, #sideBar a:visited, #sourceForgeLinks a {
  color: #00f;
}

#tabs a:link, #tabs a:visited {
  color: #00f;
  text-decoration: none;
}

#tabs a:hover {
  text-decoration: underline;
}

.even a {
}

/* --Form styles-- */
input, textarea, select {
  font-size: 10px;
  border-width: 1px;
  border-color: #000;
  background: #fff;
  color: #00f;
}
input[type="submit"], input[type="button"], input[type="reset"] {
  border-width: 1px;
  font-weight: bold;
}

input[type="radio"], input[type="checkbox"] {
  background: #000;
  color: inherit;
}

label {
  cursor: pointer;
}

.requiredField {
  font-weight: bold;
}

/* --Miscellaneous-- */
#sideBarLogo p {
  margin-bottom: 2ex;
  text-align: center;
}

#mainZone h1 img, #mainZone h2 img, #mainZone h3 img, #mainZone h4 img, #mainZone h5 img {
  vertical-align: middle;
}

.error {
  color: #f00;
  background: #fff;
  font-weight: bold;
}

.advice {
}

.message {
}

.even {
  background: #efefef;
  color: #000;
}

img {
  border: none;
}

.sqlcode {
  font-family: "Courier New", Courier, monospace;
  font-size: 11px;
  white-space: pre;
  text-align: left;
}

.noWrap {
  white-space: nowrap;
}

hr {
  background: #000;
  color: #000;
  border: 1px solid #000;
  margin: 10px 0; /* top-bottom right-left */
}

.noPrint {
  display: none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

#breadCrumb {
  margin-bottom: 0;
}

.icon {
  margin-top: 5px;
  padding: 10px 0 15px 45px;
  background-position: center left;
}

.bigIcon {
  margin-top: 5px;
  padding: 20px 0 20px 65px;
  background-position: center left;
}

.dumpIcon {
  background: url(../images/dumps.png) no-repeat;
}

.logIcon {
  background: url(../images/logs.png) no-repeat;
}

.configIcon {
  background: url(../images/config_clinic.png) no-repeat;
}

.staffIcon {
  background: url(../images/staff.png) no-repeat;
}

.themeIcon {
  background: url(../images/themes.png) no-repeat;
}

.userIcon {
  background: url(../images/users.png) no-repeat;
}

.patientIcon {
  background: url(../images/patient.png) no-repeat;
}

.searchIcon {
  background: url(../images/search.png) no-repeat;
}

.medicalIcon {
  background: url(../images/medical.png) no-repeat;
}

.adminIcon {
  background: url(../images/admin.png) no-repeat;
}
