/* CSS based in www.serialz.to site */
/* $Id: serialz.css,v 1.14 2006/04/10 19:05:27 jact Exp $ */

/* Layout */
html, body {
  background: #9ea985;
  color: #f5f5dc;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", helvetica, arial, sans-serif;
  font-size: 13px;
}

#header {
  background: #9ea985;
  color: #fff;
  height: 1px; /* Holly hack */
}

html>body #header {
  height: auto;
}

#logo {
  background: #9ea985;
  color: #fff;
  font-size: 28px;
  text-align: left;
  font-weight: bold;
  margin-top: 0;
}

#subHeader {
  height: 5em;
}

#headerInformation {
  position: absolute;
  top: 0;
  right: 2ex;
}

.menuBar {
  clear: both;
  margin-top: 12px;
  height: 0; /* IE 5.0 paranoid */
}

#tabs {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
}

#tabs li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li#first a, li#first span {
  border-left: 1px solid #dce0d3;
}

#tabs a, #tabs span {
  border-right: 1px solid #dce0d3;
  border-top: 1px solid #dce0d3;
  margin: 0;
  padding: 3px 10px;
  float: left;
}

#tabs span {
  background: #bbc2a9;
  color: #f5f5dc;
  border-bottom: 1px solid #bbc2a9;
}

#sourceForgeLinks {
  clear: both;
  text-align: right;
  background: #bbc2a9;
  color: #f5f5dc;
  padding: 4px 2ex 4px 0;
  margin: -1px 0 0 0;
  border: 1px solid #dce0d3;
}

#sourceForgeLinks li {
  display: inline;
  list-style-type: none;
  padding: 0 8px;
  border-left: 1px solid #dce0d3;
}

#sourceForgeLinks li:first-child {
  border: none;
}

#sideBar {
  position: relative; /* IE hack */
  padding-left: 1ex;
  margin-top: -1px;
  width: 150px;
  float: left;
  clear: left;
  border: 1px solid #dce0d3;
  border-top: none;
  background: #bbc2a9;
  color: #f5f5dc;
}

.sideBarLogin {
  margin-top: 0;
  margin-bottom: 3ex;
}

.linkList, .subnavbar {
  margin-left: 2.6ex;
  padding: 0;
  list-style-type: none;
  position: relative; /* IE bug fixed */
}

.subnavbar {
  margin-top: 2ex;
}

.linkList li {
  line-height: 1.25em;
  margin-bottom: 2ex;
  list-style-image: url(../images/bullet_normal.gif);
}

.linkList .selected {
  list-style-image: url(../images/bullet_selected.gif);
}

#mainZone {
  line-height: 1.5em;
  margin-left: 150px;
  padding: 1ex 1em 1ex 2em; /* top right bottom left */
}

#footer {
  padding: 1ex 15px;
  margin-left: 150px;
  clear: right;
  text-align: center;
}

#footerLinks {
  margin: 0;
  padding: 0;
}

#footerLinks li {
  list-style-type: none;
  display: inline;
  padding: 0 4px 2px 8px;
  border-left: 2px solid #dce0d3;
}

#footerLinks li:first-child {
  border: none;
}

/* Tables */
.center table {
  margin: 0 auto;
  text-align: left;
}

table {
  border-collapse: collapse;
  padding: 3px;
  border: 1px solid #dce0d3;
}

* html body table {
  width: auto;
}

td, th, td.odd {
  padding: 3px;
  border: 1px solid #dce0d3;
  font-size: 14px;
}

/* Links */
#sourceForgeLinks a {
  background: inherit;
  color: #fff;
}

.linkList a, .linkList a:visited, .linkList .subnavbar a {
  padding: 0 2px 0 0;
}

.sideBarLogin a {
  display: inline;
}

a:link, a:visited {
  color: #fff;
}

#tabs a:link, #tabs a:visited {
  color: #fff;
  background: transparent;
  text-decoration: none;
}

#tabs a:hover {
  text-decoration: underline;
}

.even a {
  font-size: 14px;
}

/* Form styles */
fieldset {
  border: 1px solid #dce0d3;
  margin: 8px auto;
  padding: 5px;
}

fieldset p {
  margin: 12px 0px;
}

fieldset .formButton {
  margin: 16px 0;
  text-align: center;
}

fieldset .error {
  display: block;
  margin: 2px 0 16px;
  border-bottom: 1px solid #fff;
}

legend {
  background: #374611;
  color: #f5f5dc;
  margin: auto;
  border: 1px solid #dce0d3;
  padding: 0 5px;
  font-weight: bold;
}

fieldset label {
  display: block;
  width: 40%;
  float: left;
  text-align: right;
  padding-right: 5px;
  cursor: pointer;
}

fieldset.largeArea label {
  width: 25%;
}

.requiredField {
  font-weight: bold;
}

input, textarea, select {
  font-family: "Trebuchet MS", helvetica, arial, sans-serif;
  font-size: 14px;
  border-width: 1px;
  border-color: #dce0d3;
  background: #374611;
  color: #f5f5dc;
}

input:focus, textarea:focus, select:focus {
  background: #eff3d6;
  color: #374611;
}

input[type="submit"], input[type="button"], input[type="reset"] {
  border-width: 1px;
  font-weight: bold;
  margin: 2px 10px;
}

input[type="submit"], .formButton input:first-child {
  padding: 4px;
}

input[type="radio"], input[type="checkbox"] {
  background: #9ea985;
  color: inherit;
}

/* Miscellaneous */
#sideBarLogo p {
  margin-bottom: 2ex;
  text-align: center;
}

#headerInformation p {
  margin: 0;
}

.error {
  background: inherit;
  color: #fff;
  font-weight: bold;
}

#sideBar, .even {
  background: #bbc2a9;
  color: #f5f5dc;
  font-size: 14px;
}

#tabs a, th {
  background: #374611;
  color: #f5f5dc;
  font-size: 14px;
  font-weight: bold;
}

.advice, .message {
  font-size: 13px;
}

.message {
  background: #f5f5dc;
  color: #000;
  border: 1px solid #000;
  margin: 3px 4em 1em 0;
  padding: 3px;
  font-weight: bold;
}

.advice {
  font-weight: bold;
}

img {
  border: none;
}

.sqlcode {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  white-space: pre;
  text-align: left;
}

.noWrap {
  white-space: nowrap;
}

.noPrint, #skipLink, hr {
  display: none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

#mainZone hr {
  display: block;
  background: #dce0d3;
  color: #dce0d3;
  border: 1px solid #dce0d3;
  margin: 10px 0;
}

#breadCrumb {
  margin-bottom: 0;
}

.icon {
  margin-top: 5px;
  padding: 10px 0 10px 45px;
  background-position: center left;
}

.bigIcon {
  margin-top: 5px;
  padding: 20px 0 20px 65px;
  background-position: center left;
}

.dumpIcon {
  background: url(../images/dumps.png) no-repeat;
}

.logIcon {
  background: url(../images/logs.png) no-repeat;
}

.configIcon {
  background: url(../images/config_clinic.png) no-repeat;
}

.staffIcon {
  background: url(../images/staff.png) no-repeat;
}

.themeIcon {
  background: url(../images/themes.png) no-repeat;
}

.userIcon {
  background: url(../images/users.png) no-repeat;
}

.patientIcon {
  background: url(../images/patient.png) no-repeat;
}

.searchIcon {
  background: url(../images/search.png) no-repeat;
}

.medicalIcon {
  background: url(../images/medical.png) no-repeat;
}

.adminIcon {
  background: url(../images/admin.png) no-repeat;
}

/* clearfix */
.clearfix {
  display: inline-block;
  width: 100%;
}

/* Hide from IE-mac \*/
* html .clearfix {
  height: 1%;
  width: auto;
}

.clearfix {
  display: table;
}
/* End hide from IE-mac */

/* patientHeader, problemHeader */
#patientHeader, #problemHeader {
  background: #374611;
  color: #f5f5dc;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #dce0d3;
}

#problemHeader {
  border-top: none;
}

#patientHeader p, #problemHeader p {
  float: left;
  width: 38%;
  margin: 0;
  padding: 2px 5px;
}

#problemHeader p {
  width: 30%;
}

#patientHeader p.right {
  float: right;
  width: 18%;
}

#problemHeader p.right {
  float: right;
  width: 32%;
}
