/* CSS based in Sinorca (haran's design in oswd.org) */
/* $Id: sinorca.css,v 1.5 2005/07/18 19:16:42 jact Exp $ */

html, body {
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  font-family: verdana, tahoma, helvetica, arial, sans-serif;
  font-size: 82%;
}

#sourceForgeLinks {
  position: absolute;
  top: 0;
  right: 0;
  height: 2em;
  width: 100%;
  background: #6386DE;
  color: #fff;
  text-align: right;
  margin: 0;
}

#sourceForgeLinks li {
  display: inline;
  list-style-type: none;
}

#sourceForgeLinks a {
  color: #fff;
  background: transparent;
  padding: 0 4px;
}

#subHeader {
  position: absolute;
  top: 2em;
  left: 0;
  height: 5em;
  width: 100%;
  background: #8CAAE7;
  color: #000;
}

#logo {
  margin: 0;
  font-size: 235%;
}

#logo a {
  color: #fff;
  background: transparent;
}

#headerInformation {
  position: absolute;
  top: 0;
  right: 20px;
  color: #fff;
  background: transparent;
  border-left: 1px solid #fff;
  padding: 0 4px;
}

#headerInformation p {
  margin: 0;
}

#tabs {
  position: absolute;
  top: 7em;
  right: 0;
  width: 100%;
  height: 2em;
  border-top: 1px solid #fff;
  background: #000;
  color: #fff;
}

html>body #tabs {
  top: 6em;
  height: 1.92em;
}

#tabs li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li#first a, li#first span {
  border-left: 1px solid #fff;
}

#tabs a, #tabs span {
  border-right: 1px solid #fff;
  margin: 2px 0;
  padding: 3px 10px;
  float: left;
  color: #fff;
  background: transparent;
  font-weight: bold;
}

#tabs span {
  background: inherit;
  color: #ffebcd;
}

#sideBar {
  position: absolute;
  top: 9em;
  left: 0;
  width: 200px;
  background: #F7F3F7;
  color: #000;
  border-right: 1px solid #9C9A9C;
  border-bottom: 1px solid #9C9A9C;
}

#sideBar hr {
  display: none;
}

.sideBarLogin {
  margin: 10px 0 10px 10px;
}

.linkList {
  background: #fff;
  color: #000;
  border-top: 1px solid #9C9A9C;
  border-bottom: 1px solid #9C9A9C;
  margin: 0;
  padding: 0;
}

.linkList li {
  list-style-type: none;
  line-height: 1.6em;
  margin-bottom: 7px;
}

.linkList a:before {
  content: "> \0020";
}

.linkList .selected:before {
  content: "\00bb \0020";
}

.linkList a, .linkList a:visited, .linkList .subnavbar a {
  display: block;
  padding: 3px 2px 3px 2.5ex;
  text-decoration: none;
}

.linkList a:hover {
  background: #6386DE;
  color: #fff;
}

.linkList .selected {
  padding: 3px 2px 3px 2.5ex;
}

.linkList .subnavbar {
  margin-top: 2ex;
  padding-left: 1ex;
}

* html .linkList .subnavbar {
  margin-left: -1.5ex;
}

#sideBarLogo p {
  text-align: center;
}

#mainZone {
  margin: 130px 10px 0 210px;
}

a, a:visited {
  color: #0065CE;
  background: inherit;
}

#mainZone h1, #mainZone h2, #mainZone h3, #mainZone h4, #mainZone h5 {
  background: #6386DE;
  color: #fff;
  padding: 3px;
  font-size: 110%;
}

#mainZone h1 img, #mainZone h2 img, #mainZone h3 img, #mainZone h4 img, #mainZone h5 img {
  vertical-align: middle;
  border: 1px solid #fff;
}

#mainZone h1 a, #mainZone h2 a, #mainZone h3 a, #mainZone h4 a, #mainZone h5 a {
  color: #fff8dc;
  background: transparent;
}

#mainZone p, #mainZone li {
  line-height: 150%;
}

#footer {
  clear: left;
  background: #6386DE;
  color: #fff;
  border-top: 1px solid #fff;
  font-size: 80%;
  height: 1px; /* Holly hack */
}

html>body #footer {
  position: fixed;
  bottom: 0;
  height: auto;
}

#footerLinks {
  margin: 0;
  padding: 0;
  text-align: center;
}

#footerLinks li {
  list-style-type: none;
  display: inline;
  padding: 0 4px;
}

#footer a, #footer a:visited {
  color: #fff8dc;
  background: transparent;
}

#footer p {
  margin: 3px;
  float: right;
}

#footer p+p {
  float: left;
}

#footer br {
  display: none;
}

img {
  border: none;
}

.noPrint {
  display: none;
}

.center table {
  margin: 0 auto;
  text-align: left;
}

table {
  border-collapse: collapse;
  padding: 3px;
  border: 1px solid #9C9A9C;
}

th {
  text-align: left;
  color: #fff;
  background: #8CAAE7;
}

td, th {
  padding: 3px;
  border: 1px solid #9C9A9C;
  font-size: 82%;
}

.even {
  background: #F7F3F7;
  color: inherit;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.sqlcode {
  font-family: "Courier New", Courier, monospace;
  font-size: 105%;
  white-space: pre;
  text-align: left;
}

.noWrap {
  white-space: nowrap;
}

/* Form styles */
input, textarea, select {
  border-width: 1px;
  border-color: #dce0d3;
  background: #000;
  color: #fff;
}

input:focus, textarea:focus, select:focus {
  background: #fff;
  color: #000;
}

input[type="submit"], input[type="button"], input[type="reset"] {
  border-width: 1px;
  font-weight: bold;
}

label {
  cursor: pointer;
}

.requiredField {
  font-weight: bold;
}

.error {
  color: #d2691e;
  background: transparent;
  font-weight: bold;
}

.message {
  background: #F7F3F7;
  color: #000;
  border: 1px solid #000;
  margin: 3px 4em 1em 0;
  padding: 3px;
  font-weight: bold;
}

.advice {
  font-weight: bold;
}

hr {
  background: #9C9A9C;
  color: #9C9A9C;
  border: 1px solid #9C9A9C;
  margin: 10px 0;
}
